<h5> Student List Information</h5>


    <div class="sidebar-sticky">
      <ul class="nav flex-column">
       
        <!-- Calling SignOut() Api from AuthService -->
        <li class="nav-item">
          <a class="nav-link active" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a>
        </li>
      </ul>
    </div>
  
<table class="highlight">
    <thead>
      <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Phone</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
      </tr>
    </thead>
    <tr  *ngFor="let student of studentlist">
        <td>{{student.payload.doc.id}}</td>
        <td>{{student.payload.doc.data().FirstName}}</td>
        <td>{{student.payload.doc.data().LastName}}</td>
        <td>{{student.payload.doc.data().Phone}}</td>
        <td>{{student.payload.doc.data().Email}}</td>
        <td>{{student.payload.doc.data().City}}</td>
        <td>{{student.payload.doc.data().State}}</td>
        <td>{{student.payload.doc.data().Country}}</td>
        <td class="text-center action-block">
          <!-- routerLink="/edit-student/{{student.$key}}" is refered to { path: 'edit-student/:id', component: EditStudentComponent } in app-routing.moudles.ts -->
          <i class="far fa-edit" routerLink="/edit-student/{{student.payload.doc.id}}"></i></td>

        <td
        [hidden]="student.payload.doc.data().completed"
        (click)="removeStudent(student)">
        <i class="material-icons">delete_forever</i>
       </td>
    </tr>
</table>