<h5 class="center-align">Student Information Register Form</h5>
<div class="row center-align">
<form class="col s12" [formGroup]="studentform">
    <div class="row">
        <div class="input-field col s6">
    <input
    
    formControlName="FirstName"
    type="text"
    class="input-field col s6"
  />
  <label for="first_name">First Name</label>
</div>
<div class="input-field col s6">
    <input
   
    formControlName="LastName"
    type="text"
    class="input-field col s6"
  />
  <label for="last_name">Last Name</label>
</div>

<div class="input-field col s6">
    <input
 
    formControlName="Phone"
    type="number"
    class="input-field col s6"
  />
  <label for="last_name">Phone</label>
</div>
<div class="input-field col s6">
    <input
   
    formControlName="Email"
    type="text"
    class="input-field col s6"
  />
  <label for="last_name">Email</label>
</div>
</div>

  
<div class="row">
    <div class="input-field col s6">
        <input
 
        formControlName="City"
        type="text"
        class="input-field col s12"
        />
        <label for="last_name">City</label>
    </div>
    <div class="input-field col s6">

    <input
 
    formControlName="State"
    type="text"
    class="input-field col s12"
    />
    <label for="last_name">State</label>
    </div>
    <div class="input-field col s6">
    <input
 
    formControlName="Country"
    type="text"
    class="input-field col s12"
   />
   <label for="last_name">Country</label>
</div>
</div>


<button class="waves-effect waves-light btn col s12" (click)="onSubmit()">
    Submit
  </button>
</form>
</div>